
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Rubik+Iso&family=Shantell+Sans:ital,wght@1,300&display=swap');
 
.Login {
  // background: linear-gradient(to bottom, #ccccff -5%, #ffffff 120%);
  background: rgb(1, 0, 15);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(72, 115, 243);

  .heading {
    text-align: center;
    color: aliceblue;
    font-size: 35px;
    font-family: 'Cabin', sans-serif;
    font-family: 'Rubik Iso', cursive;
    font-family: 'Shantell Sans', cursive;
  }

  .login-box {
    padding: 40px;
    min-width: 400px;
    border: 2px solid rgb(51, 49, 49);
    border-radius: 8px;
  }

  label,
  input {
    display: block;
    width: 100%;
    margin-block: 8px;
  }

  label {
    // font-weight: bold;
    font-size: larger;
    padding: 0.25rem 0;
  }

  input {
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 16px;
    // border: 1px solid black;
  }

  .submit {
    background-color: #29b4ff;
    color: white;
    border: none;
    margin-top: 20px;
    font-weight: bold;
  }

  .submit:hover {
    background-color: #249dde;
    cursor: pointer;
  }

  .subheading {
    background: none;
    color: rgb(47, 79, 218);
    // text-decoration: underline;
    margin-top: 16px;
    font-size: medium;
  }
}
